<!-- app/views/flats/index.html.erb -->
<div class="container mt-4">
  <h1 class="mb-4">Available Flats</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <%= image_tag flat.picture_url, alt: flat.name, class: "card-img-top" if flat.picture_url.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text"><%= flat.description %></p>
            <p class="card-text"><strong>Price per night:</strong> <%= flat.price_per_night %></p>
            <p class="card-text"><strong>Number of guests:</strong> <%= flat.number_of_guests %></p>
            <%= link_to 'View Details', flat_path(flat), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
