<!-- app/views/flats/show.html.erb -->
<h1><%= @flat.name %></h1>
<p><%= @flat.description %></p>
<!-- Add more details here -->
<!-- app/views/flats/show.html.erb -->
<h1><%= @flat.name %></h1>
<!-- Flat details here -->
<%= link_to 'Edit', edit_flat_path(@flat), class: 'btn btn-secondary' %>
<%= link_to 'Back to Flats', flats_path, class: 'btn btn-primary' %>
